<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./view-posts.css">
    <title>View Posts</title>
</head>
<body>
    <%- include('navbar') %>
    <div class="postsContainer">
        <ul>
            <% if (posts && posts.length > 0) { %>
                <% posts.forEach((post) => { %>
                    <li>
                        <div class="imgContainer">
                            <h2><%= post.title %></h2>
                            <% if(user.member) { %>
                                <form action="/view-posts" method="POST">
                                    <!-- Hidden field with the post ID value -->
                                    <input type="hidden" name="post_id" value="<%= post.id %>">
                                    <button class='imgBtn' type="submit">
                                        <img src="./delete.svg" alt="Delete">
                                    </button>
                                </form>
                            <% } %>
                        </div>
                        <p class="text"><%= post.text %></p>
                        <% if(user.member){ %>
                            <div class="timestampContainer">
                                <p>By: <%= user.username %></p>
                                <p><%= new Date(post.timestamp).toLocaleString() %></p>
                            </div>
                        <% } %>
                    </li>
                <% }) %>
            <% } else { %>
                <p>No posts available.</p>
            <% } %>
        </ul>
    </div>
</body>
</html>
